# Frontend
/frontend/node_modules
/frontend/.svelte-kit
/frontend/build
/frontend/.env
/frontend/.env.*
!frontend/.env.example
/frontend/vite.config.js.timestamp-*
/frontend/vite.config.ts.timestamp-*

# Backend
# /backend/docs
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
